pyinstaller>=5.9.0
pandas>=1.5.3
numpy>=1.24.3
dash>=2.9.3
dash-core-components>=2.0.0
dash-html-components>=2.0.0
plotly>=5.14.1
openpyxl>=3.1.2
xlrd>=2.0.1
python-docx>=0.8.11
pywin32>=306; platform_system == "Windows"
customtkinter>=5.2.0